.container {
    width: 100%;
    min-height:100vh;
    background: linear-gradient(90deg, #faf0cd, #fab397);
    padding: 10px;
}
    
    
.toDoApp {
    width: 100%;
    max-width:540px;
    background: #fff;
    margin: 100px auto 20px; /*top --> left + right --> bottom */
    padding: 40px 30px 70px;
    border-radius: 10px; /* to make corners round*/
 }
    
    
.toDoApp h2 {
    color: #000;
    display: flex; /*for aligning */
    align-items: center;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}
    
    
.row { /*CSS for search bar where we type in to add something new to the list*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    width: 100%;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;  
}

button {
    border: none;
    outline: none;
    padding: 16px 50px; /* top + bottom --> left + right */
    background: #BEA9DF;
    color: #fff; /*text color when we type into search bar*/
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{ /*li::before allows me to add stuff BEFORE li*/
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover; /*image will always fit whole div*/
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; /*make a circle */
}

ul li span:hover{
    background: #edeef0;
}

button:hover{
    color:#000;
}



